.title {
  font-weight: bold;
  font-size: 1.5rem;
}
.popup {
  will-change: top;
  position: absolute;
  top: -100px;
  width: 100%;
  height: 30px;
}
.popup.open {
  top: 0px;
}
.deleteButton {
  background-color: red;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}
.editButton {
  background-color: rgb(34, 0, 102);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
}
