@tailwind base;
@tailwind components;
@tailwind utilities;
.slideup{
    animation-duration: 2s;
    animation-name: slideup;
    animation-timing-function: ease-out;
}
.fadein{
    animation-duration: 3s;
    animation-name: fadein;
    animation-timing-function: linear;
}
.fadelong{
    animation-duration: 5s;
    animation-name: fadein;
    animation-timing-function: linear;
}
.popup {
    animation-duration: 1s;
    animation-name: popup;
    animation-timing-function: linear;
}
.roboto {
    font-family: "Roboto", sans-serif;
}
.shadow-light{
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);  
}
.glow {
    text-shadow: 2px 2px 50px rgb(255, 255, 255);
}
.active {
    background-color:rgba(255, 255, 255, 0.2);
}
.top-button:hover{
    background-color:rgba(255, 255, 255, 0.5);
}
@keyframes popup {
    0% {
        transform:translateY(-100%);
    }
    5% {
        transform:translateY(-100%);
    }
    15% {
        transform:translateY(0%);
        padding-bottom: 5px;
    }
    30% {
        transform:translateY(-50%);
    }
    40% {
        transform:translateY(0%);
        padding-bottom: 6px;
    }
    50% {
        transform:translateY(-30%);
    }
    70% {
        transform:translateY(0%);
        padding-bottom: 7px;
    }
    80% {
      transform:translateY(-15%);
    }
    90% {
      transform:translateY(0%);
      padding-bottom: 8px;
    }
    95% {
      transform:translateY(-7%);
    }
    97% {
      transform:translateY(0%);
      padding-bottom: 9px;
    }
    99% {
      transform:translateY(-3%);
    }
    100% {
      transform:translateY(0);
      padding-bottom: 9px;
      opacity: 1;
    }
}
@keyframes slideup{
    from {
        position: relative;
        top:80px;
    }
    20%{
        position: relative;
        top:40px;
    }
    to {
        position:relative;
        top: 0px;
    }
}
@keyframes fadein{
    from {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}