@tailwind base;
@tailwind components;
@tailwind utilities;
.roboto {
    font-family: "Roboto", sans-serif;
}
.fadein{
    animation-duration: 5s;
    animation-name: fadein;
    animation-timing-function: linear;
}
.glow {
    text-shadow: 2px 2px 50px rgb(255, 255, 255)
}
.top-button:hover{
    background-color:rgba(255, 255, 255, 0.5);
}
.active {
    background-color:rgba(255, 255, 255, 0.2);
}
@keyframes fadein{
    from {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}