@tailwind base;
@tailwind components;
@tailwind utilities;

.slideup{
    animation-duration: 2s;
    animation-name: slideup;
    animation-timing-function: ease-out;
}


.fadein{
    animation-duration: 3s;
    animation-name: fadein;
    animation-timing-function: linear;
}
.upperborder{
    padding-top: 10px;
    border-top: 5px;
    border-color: #1e1e1e;
    border-top-style: solid;
}
.roboto {
    font-family: "Roboto", sans-serif;
}

@keyframes slideup{
    from {
        position: relative;
        top:80px;
    }
    20%{
        position: relative;
        top:40px;
    }
    to {
        position:relative;
        top : 0px;
    }
}

@keyframes fadein{
    from {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}